<tt-loader *ngIf="isLoading"></tt-loader>
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Test Issues</strong>
  </div>
  <div class="card-body" *ngIf="!isLoading">
    <search-bar (callback)="searchTestIssues($event)"></search-bar>
    <pagination [pageData]="pagination" (callback)="getTestIssues($event)"></pagination>
    <br>
    <tt-no-content *ngIf="testIssues?.length <= 0" [hidden]="isLoading" [type]="'issue'"></tt-no-content>
    <ul class="list-group list-group-flush" *ngFor="let testIssue of testIssues; let i = index">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
          <div>
            <strong>{{testIssue.reference}}</strong> {{testIssue.description}}
          </div>
        </span>
        <div class="dropdown">
          <span class="options-dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>more_vert</mat-icon>
          </span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item" (click)="openTestCaseViewDialog(testIssue.testCaseId)">View Test Case</span>
            <span *ngIf="testIssue.testRunId > 0 && router.url.indexOf('test-reports') === -1" class="dropdown-item" [routerLink]="['/test-reports', testIssue.testRunId]">Go To Test Report</span>
            <span *ngIf="testIssue.testRunId > 0" class="dropdown-item" [routerLink]="['/test-runs', testIssue.testRunId]">Go To Test Run</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item" (click)="openTestIssueEditDialog(testIssue)">Edit</span>
            <span class="dropdown-item" (click)="openTestIssueDeleteDialog(testIssue)">Delete</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
