<div class="card">
  <div class="card-header">
    <h5>{{title}}</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="testModuleForm">
      <div class="form-group">
        <label for="nameInput">Test Module Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Name" formControlName="name">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button class="btn btn-default" (click)="onNoClick()">Cancel</button>
      <button type="submit" class="btn btn-primary" [mat-dialog-close]="testModuleForm.value">Save</button>
    </div>
  </div>
</div>
