<br>
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="first()"><small>&lt;&lt;</small> First</a></li>
    <li class="page-item"><a class="page-link" (click)="prev()"><small>&lt;</small> Previous</a></li>
    <li class="page-item"><a class="page-link" style="pointer-events: none;"><strong>Page {{pageNumber}}</strong></a></li>
    <li class="page-item"><a class="page-link" (click)="next()">Next <small>&gt;</small></a></li>
    <li class="page-item"><a class="page-link" (click)="last()">Last <small>&gt;&gt;</small></a></li>
  </ul>
</nav>