<div class="card-body">
  <h5 class="card-title">{{testRun?.name}}</h5>
  <div id="accordion" *ngFor="let testModule of testModules; let i = index">
    <div class="card list-group list-group-flush">
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span class="clickable-text">{{testModule.name}}</span>
        </div>
        <div>
          <mat-icon #toggle [ngClass]="{'close': !testModule.isExpanded, 'open': testModule.isExpanded}" class="expansion-button options-dropdown"
            (click)="getTestResults(testModule); testModule.isExpanded = !testModule.isExpanded" data-toggle="collapse" [attr.data-target]="'#collapse-' + i"
            aria-expanded="false" [attr.aria-controls]="'collapse-' + i"></mat-icon>
        </div>

      </div>
      <div id="collapse-{{i}}" class="collapse" [attr.aria-labelledby]="'heading-' + i" data-parent="#accordion">
        <div class="card-body">
          <test-module [testModule]="testModule" [isTestRun]=true [testRunId]="testRun.id"></test-module>
        </div>
      </div>
    </div>
  </div>
</div>
