<div [sortablejs]="testCase.testConditions" [sortablejsOptions]="eventOptions">
  <ng-container *ngFor="let testCondition of testCase.testConditions; let i = index;">
    <div (mouseover)="hoverIndex = i" (mouseleave)="hoverIndex = null" class="card modal-item" [ngClass]="{'draggable sortable': isSorting }" *ngIf="
      testCase.testConditions.length> 0">
      <div class="card-body d-flex justify-content-between">
        <div>
          <i class="fa fa-sort" *ngIf="isSorting"></i>
          <span class="editable" *ngIf="!testCondition.isEditing" (click)="toggleIsEditing(testCondition); tempDescription = testCondition.description">
            {{testCondition.description}}
            <mat-icon class="edit-icon" *ngIf="hoverIndex === i && !isTestRun && !isSorting">edit</mat-icon>
          </span>
        </div>
        <input autofocus class="form-control" *ngIf="testCondition.isEditing" matInput (blur)="updateTestCondition(testCondition)"
          (keyup.escape)="cancelEdit(testCondition)" (keyup.enter)="updateTestCondition(testCondition)" [(ngModel)]="testCondition.description"
        />
        <span [ngClass]="{'ghost':!(hoverIndex === i || isTestRun)}" class="toolbar">
          <mat-icon (click)="deleteTestCondition(testCondition)" *ngIf="!testCondition.isEditing && !isSorting">delete</mat-icon>
        </span>
      </div>
    </div>
    <div class="card" *ngIf="!testCase.testConditions.length > 0">
      <div class="card-body">
        No conditions
      </div>
    </div>
  </ng-container>
</div>
