<div class="card">
  <div class="card-header" *ngIf="!isTestReport">
    <h5>{{truncateDescription(testCase.description)}}</h5>
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item">
        <a #expectedTab class="nav-link active" id="expected-tab" data-toggle="tab" href="#expected" role="tab" [attr.aria-controls]="expected-tab"
          aria-selected="true" (click)="getTestResults(testModule, testCase); type = 'expected'">Expected Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pre-conditions-tab" data-toggle="tab" href="#pre-conditions" role="tab" [attr.aria-controls]="pre-conditions-tab"
          aria-selected="false" (click)="getTestConditions(testModule, testCase); type = 'condition'">Pre-Conditions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="test-actions-tab" data-toggle="tab" href="#test-actions" role="tab" aria-controls="contact" [attr.aria-controls]="test-actions-tab"
          aria-selected="false" (click)="getTestActions(testModule, testCase); type = 'action'">Test Actions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="test-issues-tab" data-toggle="tab" href="#test-issues" role="tab" aria-controls="contact" [attr.aria-controls]="test-issues-tab"
          aria-selected="false" (click)="type = 'issue'">Issues
          <span class="badge badge-danger">{{testCase.testIssues.length}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-header" *ngIf="isTestReport">
    <h5>{{truncateDescription(testCase.description)}}</h5>
  </div>
  <div class="card-body" *ngIf="!isTestReport" style="height: 300px; max-height:500px; overflow-y: scroll;">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="expected" role="tabpanel" [attr.aria-labelledby]="expected-tab">
        <tt-expected-results [testCase]="testCase" [isTestRun]="isTestRun"></tt-expected-results>
      </div>
      <div class="tab-pane fade" id="pre-conditions" role="tabpanel" [attr.aria-labelledby]="pre-conditions-tab">
        <tt-pre-conditions [testCase]="testCase" [isTestRun]="isTestRun"></tt-pre-conditions>
      </div>
      <div class="tab-pane fade" id="test-actions" role="tabpanel" [attr.aria-labelledby]="test-actions-tab">
        <tt-test-actions [testCase]="testCase" [isTestRun]="isTestRun"></tt-test-actions>
      </div>
      <div class="tab-pane fade" id="test-issues" role="tabpanel" [attr.aria-labelledby]="test-issues-tab">
        <tt-test-issues [testIssues]="testCase.testIssues"></tt-test-issues>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="isTestReport" style="height: 300px; max-height:500px; overflow-y: scroll;">
    <tt-test-issues [testIssues]="testCase.testIssues"></tt-test-issues>
  </div>
  <div class="card-footer">
    <div class="row">
      <!-- Expected Result -->
      <div *ngIf="(type === 'expected' || !type) && !isTestReport" class="input-group mb-3">
        <input #expectedResult type="text" class="form-control" placeholder="Add an expected result" (keyup.enter)="addExpectedResult(expectedResult.value);expectedResult.value=''">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="addExpectedResult(expectedResult.value);expectedResult.value=''">Save</button>
        </div>
      </div>

      <!-- Pre-Condition -->
      <div *ngIf="type === 'condition' && !isTestReport" class="input-group mb-3">
        <input #condition type="text" class="form-control" placeholder="Add a condition" (keyup.enter)="addTestCondition(condition.value);condition.value=''">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="addTestCondition(condition.value);condition.value=''">Save</button>
        </div>
      </div>

      <!-- Test Action -->
      <div *ngIf="type === 'action' && !isTestReport" class="input-group mb-3">
        <input #action type="text" class="form-control" placeholder="Add an action" (keyup.enter)="addTestAction(action.value);action.value=''">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="addTestAction(action.value);action.value=''">Save</button>
        </div>
      </div>
    </div>
    <div class="row pull-right">
      <button type="button" class="btn btn-secondary" (click)="onNoClick()">Close</button>
    </div>
  </div>
</div>
