<div class="card">
  <div class="card-header">
    <h5>{{title}}</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="testSuiteForm">
      <div class="form-group">
        <label for="nameInput">Test Suite Name</label>
        <input type="text" class="form-control" [ngClass]="{'is-invalid': !testSuiteForm.controls['name'].valid && testSuiteForm.controls['name'].touched}"
          id="nameInput" placeholder="Name" formControlName="name">
        <small class="invalid-feedback" *ngIf="testSuiteForm.controls['name'].hasError('required')">Must include a description.</small>
        <small class="invalid-feedback" *ngIf="testSuiteForm.controls['name'].hasError('minlength')">Mst be at least 3 characters long.</small>
        <small class="invalid-feedback" *ngIf="testSuiteForm.controls['name'].hasError('maxlength')">Cannot exceed 255 characters.</small>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button class="btn btn-default" (click)="onNoClick()">Cancel</button>
      <button type="submit" class="btn btn-primary" [mat-dialog-close]="testSuiteForm.value" [disabled]="!testSuiteForm.valid">Save</button>
    </div>
  </div>
</div>
