<div class="panel panel-default">
  <div class="panel-body" *ngIf="testModule.testCases?.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10%">Last Test</th>
          <th style="width: 10%">Priority</th>
          <th style="width: 10%">Automated</th>
          <th style="width: 10%">Issue</th>
          <th style="width: 55%">Description</th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody *ngFor="let testCase of testModule.testCases; let testIndex = index;">
        <tr>
          <td *ngIf="testCase.lastTested">{{testCase.lastTested | date}}</td>
          <td *ngIf="!testCase.lastTested"></td>
          <td>{{testCase.priority | priority}}</td>
          <td>{{testCase.isAutomated ? 'Automated' : 'Manual'}}</td>
          <td>{{testCase.bugId}}</td>
          <td>{{testCase.description}}</td>
          <td>
            <div class="dropdown">
              <span class="options-dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon>more_vert</mat-icon>
              </span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <span class="dropdown-item" data-toggle="modal" [attr.data-target]="'#test-case-modal-' + testIndex" (click)="getTestResults(testModule, testCase)">View</span>
                <span class="dropdown-item">Edit</span>
                <span class="dropdown-item" (click)="openTestCaseDeleteDialog(testCase)">Delete</span>
              </div>
            </div>
          </td>
        </tr>

        <div test-case class="modal fade" id="test-case-modal-{{testIndex}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'test-case-modal-' + testIndex" aria-hidden="true"
          [testCase]="testCase" [testModule]="testModule" [testIndex]="testIndex"></div>
      </tbody>
    </table>
  </div>
</div>
<tt-buttons (click)="openCreateDialog()"></tt-buttons>


<!-- <ng-container *ngIf="testModule.testCases?.length > 0">
    <div *ngFor="let testCase of testModule.testCases">
        <test-case [testCase]="testCase" [testModule]="testModule"></test-case>
    </div>
</ng-container>
<ng-container *ngIf="testModule.testCases?.length < 1">
    <p>
        No test cases
    </p>
</ng-container>
<mat-action-row>
    <button mat-button color="warn" (click)="openDeleteDialog(testModule)">DELETE TEST MODULE</button>
    <button mat-button color="primary" (click)="openCreateDialog()">ADD TEST CASE</button>
</mat-action-row> -->
