<div class="panel panel-default">
  <div class="list-group list-group-flush" style="margin: 10px;" *ngIf="testModule.testCases?.length > 0">
    <div class="card">
      <nav class="navbar navbar-light bg-light">
        <span class="dropdown">
          <button class="btn dropdown-toggle" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
            <strong>{{testModule.sort}}</strong>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByButton">
            <span (click)="testModule.sort = 'priority'" class="dropdown-item">Priority</span>
            <span (click)="testModule.sort = 'lastTested'" class="dropdown-item">Last Tested</span>
            <span (click)="testModule.sort = 'isAutomated'" class="dropdown-item">Automated</span>
            <span (click)="testModule.sort = 'bugId'" class="dropdown-item">Issues</span>
          </div>
        </span>
        <span *ngIf="testModule.sort" class="btn-group btn-group-toggle" data-toggle="buttons" style="z-index: 0;">
          <label class="btn btn-secondary active" (click)="testModule.reverse = false">
            <input type="radio" name="options" autocomplete="off" [checked]="!testModule.reverse"> Asc
          </label>
          <label class="btn btn-secondary" (click)="testModule.reverse = true">
            <input type="radio" name="options" autocomplete="off" [checked]="testModule.reverse"> Desc
          </label>
        </span>
      </nav>
      <div *ngFor="let testCase of testModule.testCases | orderBy : testModule.sort : testModule.reverse">
        <div class="card">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="test-run-item">
              <div>
                <i class="fa fa-lg fa-eye show-details" data-toggle="modal" [attr.data-target]="'#test-case-modal-' + testModule.testCases.indexOf(testCase)"
                  (click)="getExpectedResults(testModule, testCase)"></i>

                <span>{{testCase.description}}</span>
              </div>
              <div>
                <i class="fa fa-lg fa-android" [ngClass]="{'icon-success': testCase.isAutomated, 'icon-light': !testCase.isAutomated}"></i>
                <i class="fa fa-lg fa-bug" [ngClass]="{'icon-danger': testCase.bugId, 'icon-light': !testCase.bugId}" data-toggle="tooltip" data-placement="bottom" title="{{testCase.bugId}}"></i>
                <i class="fa fa-lg fa-signal priority" [ngClass]="{
                'priority-low': testCase.priority === priority.Low,
                'priority-med': testCase.priority === priority.Medium,
                'priority-high': testCase.priority === priority.High,
                'priority-critical': testCase.priority === priority.Critical
              }" data-toggle="tooltip" data-placement="bottom" title="{{testCase.priority | priority}}"></i>
              </div>
            </div>
            <div>
              <div class="pull-right" *ngIf="testCase.lastTested">{{testCase.lastTested | date}}</div>
              <div class="pull-right" *ngIf="!testCase.lastTested">Never Tested</div>
              <div *ngIf="isTestRun" class="dropdown">
                <span class="btn dropdown-toggle pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  [ngClass]="{
                          'btn-success': testCase.testResult?.status == testResultStatus.Pass,
                          'btn-danger': testCase.testResult?.status == testResultStatus.Fail,
                          'btn-info': testCase.testResult?.status == testResultStatus.NA || testCase.testResult?.status == testResultStatus.CNT,
                          'btn-secondary': testCase.testResult?.status == testResultStatus.Pending || !testCase.testResult
                        }">
                  {{testCase.testResult?.status | status}}
                </span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Pass)">PASS</span>
                  <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Fail)">FAIL</span>
                  <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.CNT)">CNT</span>
                  <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.NA)">NA</span>
                  <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Pending)">PENDING</span>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-item" (click)="openLogIssueDialog(testCase)">LOG ISSUE</span>
                </div>
              </div>

              <div *ngIf="!isTestRun" class="dropdown">
                <span class="btn dropdown-toggle btn-secondary pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">More</span>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <span class="dropdown-item" (click)="openTestCaseEditDialog(testCase, testModule.testSuiteId)">Edit</span>
                  <span class="dropdown-item" (click)="openTestCaseDeleteDialog(testCase)">Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div test-case class="modal fade" id="test-case-modal-{{testModule.testCases.indexOf(testCase)}}" tabindex="-1" role="dialog"
          [attr.aria-labelledby]="'test-case-modal-' + testModule.testCases.indexOf(testCase)" aria-hidden="true" [testCase]="testCase"
          [testModule]="testModule" [testIndex]="testModule.testCases.indexOf(testCase)" [isTestRun]="isTestRun"></div>
      </div>
    </div>
  </div>
</div>
<tt-buttons *ngIf="!isTestRun" (click)="openCreateDialog()"></tt-buttons>
