<div class="panel panel-default">
  <div class="list-group list-group-flush" style="margin: 10px;" *ngIf="testModule.testCases?.length > 0">
    <div>
      <div class="toolbar">
        <span *ngIf="isTestRun" class="dropdown">
          <button class="btn dropdown-toggle" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Status
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByButton">
            <span class="dropdown-item" (click)="selectAllStatusFilters()">Select All</span>
            <span class="dropdown-item" (click)="clearStatusFilters()">Clear</span>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [disabled]="statusFilters.showAll" [(ngModel)]="statusFilters.showPass" (click)="filterTestCases()"> Pass
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [disabled]="statusFilters.showAll" [(ngModel)]="statusFilters.showFail" (click)="filterTestCases()"> Fail
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [disabled]="statusFilters.showAll" [(ngModel)]="statusFilters.showCnt" (click)="filterTestCases()"> CNT
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [disabled]="statusFilters.showAll" [(ngModel)]="statusFilters.showNa" (click)="filterTestCases()"> NA
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [disabled]="statusFilters.showAll" [(ngModel)]="statusFilters.showPending"
                  (click)="filterTestCases()"> Pending
              </label>
            </span>
          </div>
        </span>
        <span class="dropdown">
          <button class="btn dropdown-toggle" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByButton">
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="filters.onlyNeverTested" (click)="filterTestCases()"> Never Tested
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="filters.needsCriteria" (click)="filterTestCases()"> Needs Criteria
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="filters.isAutomated" (click)="filterTestCases()"> Automated
              </label>
            </span>
            <span class="dropdown-item">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="filters.hasIssues" (click)="filterTestCases()"> Has Issues
              </label>
            </span>
          </div>
        </span>
        <span class="dropdown">
          <button class="btn dropdown-toggle" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
            <strong>{{displayFriendly(testModule.sort)}}</strong>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortByButton">
            <span (click)="testModule.sort = 'description'" class="dropdown-item">Description</span>
            <span (click)="testModule.sort = 'priority'" class="dropdown-item">Priority</span>
            <span (click)="testModule.sort = 'lastTested'" class="dropdown-item">Last Tested</span>
            <span (click)="testModule.sort = 'isAutomated'" class="dropdown-item">Automated</span>
            <span (click)="testModule.sort = 'hasCriteria'" class="dropdown-item">Needs Criteria</span>
          </div>
        </span>
        <span *ngIf="testModule.sort" class="btn-group btn-group-toggle" data-toggle="buttons" style="z-index: 0;">
          <label class="btn btn-secondary active" (click)="testModule.reverse = false">
            <input type="radio" name="options" autocomplete="off" [checked]="!testModule.reverse"> Asc
          </label>
          <label class="btn btn-secondary" (click)="testModule.reverse = true">
            <input type="radio" name="options" autocomplete="off" [checked]="testModule.reverse"> Desc
          </label>
        </span>
        <span class="btn-group btn-group-toggle" data-toggle="buttons">
          <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search">
        </span>
      </div>
      <br>
      <div *ngFor="let testCase of filterTestCases() | filter : searchText | orderBy : testModule.sort : testModule.reverse">
        <tt-test-case [testModule]="testModule" [testCase]="testCase" [isTestRun]="isTestRun" [testRunId]="testRunId"></tt-test-case>
      </div>
    </div>
  </div>
</div>
