.body-content {
    height: calc(100vh - 56px);
}

.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
}

.side-nav {
    background-color: #fff;
    border-right: 1px solid #dedede;
    -webkit-box-shadow: 1px 0 5px -2px #888;
            box-shadow: 1px 0 5px -2px #888;
}