<h1 mat-dialog-title>{{title}}</h1>

<!-- Test Suite/Component/Run -->
<div mat-dialog-content *ngIf="type === 'test-suite' || type === 'test-module'">
  <mat-form-field>
    <input placeholder="Name" matInput tabindex="1" [(ngModel)]="payload.name">
  </mat-form-field>
</div>

<!-- Test Case -->
<div mat-dialog-content *ngIf="type === 'test-case'">
  <mat-form-field>
    <input placeholder="Description" matInput [(ngModel)]="payload.description">
  </mat-form-field>
  <p>
    <mat-checkbox [(ngModel)]="payload.isAutomated">Automated</mat-checkbox>
  </p>
  <mat-form-field>
    <mat-select placeholder="Priority" [(ngModel)]="payload.priority">
      <mat-option [value]="priorityOptions.Low">Low</mat-option>
      <mat-option [value]="priorityOptions.Medium">Medium</mat-option>
      <mat-option [value]="priorityOptions.High">High</mat-option>
      <mat-option [value]="priorityOptions.Critical">Critical</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Bug ID" matInput [(ngModel)]="payload.bugId">
  </mat-form-field>

</div>

<!-- Test Run -->
<div mat-dialog-content *ngIf="type === 'test-run'">
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="payload.name">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Test Suite" [(ngModel)]="payload.testSuiteId">
      <mat-option [value]="testSuite.id" *ngFor="let testSuite of testSuites">{{testSuite.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="payload">Ok</button>
</div>
