<h1 mat-dialog-title>{{title}}</h1>
<form mat-dialog-content [formGroup]="testCaseForm">
  <div *ngIf="testSuiteId">
    <select class="form-control" formControlName="testModuleId">
      <option [value]="testModule.id" *ngFor="let testModule of testModules">{{testModule.name}}</option>
    </select>
  </div>
  <mat-form-field>
    <input placeholder="Description" matInput formControlName="description">
  </mat-form-field>
  <p>
    <mat-checkbox formControlName="isAutomated">Automated</mat-checkbox>
  </p>
  <mat-form-field>
    <mat-select placeholder="Priority" formControlName="priority">
      <mat-option [value]="priorityOptions.Low">Low</mat-option>
      <mat-option [value]="priorityOptions.Medium">Medium</mat-option>
      <mat-option [value]="priorityOptions.High">High</mat-option>
      <mat-option [value]="priorityOptions.Critical">Critical</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Bug ID" matInput formControlName="bugId">
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="testCaseForm.value">Ok</button>
</div>
