<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{testCase.description}} <span *ngIf="testCase.bugId" matTooltip="{{testCase.bugId}}"><mat-icon >bug_report</mat-icon></span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-tab-group 
  class="demo-tab-group" 
  *ngIf="!isEditing" 
  cols="3" 
  rowHeight="400px" 
  style="display:flex;justify-content:space-between;"
  (selectedTabChange)="getData($event)">
    <mat-tab label="Overview">
      <div>
        <p>{{testCase.priority | priority}}</p>
        <p>{{testCase.isAutomated ? 'Automated' : 'Manual'}}</p>
      </div>
    </mat-tab>
    <mat-tab label="Expected Results">
      <tt-expected-results [testCase]="testCase"></tt-expected-results>
    </mat-tab>
    <mat-tab label="Pre-Conditions">
      <tt-pre-conditions [testCase]="testCase"></tt-pre-conditions>
    </mat-tab>
    <mat-tab label="User Actions">
      <tt-test-actions [testCase]="testCase"></tt-test-actions>
    </mat-tab>
  </mat-tab-group>

  <div *ngIf="isEditing" rowHeight="400px" style="display:flex;justify-content:space-between;">
    <mat-form-field>
      <input placeholder="Description" matInput [(ngModel)]="testCase.description">
    </mat-form-field>
    <div>
      <ol>
        <li *ngFor="let expectedResult of testCase.expectedResults">
          <mat-form-field>
            <input *ngIf="expectedResult" matInput [(ngModel)]="expectedResult.description">
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input placeholder="Result" matInput (keyup.enter)="createExpectedResult(value.value); value.value = ''" #value>
          </mat-form-field>
        </li>
      </ol>
    </div>
    <div>
      <ol>
        <li *ngFor="let testCondition of testCase.testConditions">
          <mat-form-field>
            <input *ngIf="testCondition" matInput [(ngModel)]="testCondition.description">
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input placeholder="Condition" matInput (keyup.enter)="createTestCondition(value.value); value.value = ''" #value>
          </mat-form-field>
        </li>
      </ol>
    </div>
    <div>
      <ol>
        <li *ngFor="let testAction of testCase.testActions">
          <mat-form-field>
            <input *ngIf="testAction" matInput [(ngModel)]="testAction.description">
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input placeholder="Step" matInput (keyup.enter)="createTestAction(value.value); value.value = ''" #value>
          </mat-form-field>
        </li>
      </ol>
    </div>
    <p>
      <mat-checkbox [(ngModel)]="testCase.isAutomated">Automated</mat-checkbox>
    </p>
    <mat-form-field>
      <mat-select placeholder="Priority" [(ngModel)]="testCase.priority">
        <mat-option [value]="priorityOptions.Low">Low</mat-option>
        <mat-option [value]="priorityOptions.Medium">Medium</mat-option>
        <mat-option [value]="priorityOptions.High">High</mat-option>
        <mat-option [value]="priorityOptions.Critical">Critical</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-action-row>
    <button mat-button color="warn" (click)="openDeleteDialog(testCase)">DELETE CASE</button>
    <button mat-button *ngIf="!isEditing" (click)="isEditing = !isEditing">EDIT</button>
    <button mat-button *ngIf="isEditing" (click)="updateTestCase(testCase); isEditing = !isEditing">SAVE</button>
  </mat-action-row>
</mat-expansion-panel>
