<div class="list-group-item d-flex justify-content-between align-items-center" style="border-bottom:1px solid #ddd;">
  <div class="test-run-item">
    <div>
      <div>
        <span *ngIf="testCase.lastTested" style="width:120px; margin-right: 5px;" class="badge badge-primary">{{testCase.lastTested | date}}</span>
        <span *ngIf="!testCase.lastTested" style="width:120px; margin-right: 5px;" class="badge badge-secondary">Never Tested</span>
        <i class="fa fa-lg fa-android" [ngClass]="{'icon-success': testCase.isAutomated, 'icon-light': !testCase.isAutomated}"></i>
        <span class="fa-stack fa-lg priority" data-toggle="tooltip" data-placement="bottom" title="{{testCase.priority | priority}}">
          <i class="fa fa-signal fa-stack-1x priority-background"></i>
          <i class="fa fa-signal fa-stack-1x" [ngClass]="{
                      'priority-low': testCase.priority === priority.Low,
                      'priority-med': testCase.priority === priority.Medium,
                      'priority-high': testCase.priority === priority.High,
                      'priority-critical': testCase.priority === priority.Critical
                    }"></i>
        </span>
        <i class="fa fa-lg fa-bug" [ngClass]="{'icon-danger': testCase.testIssues.length > 0, 'icon-light': testCase.testIssues.length <= 0}"
          data-toggle="tooltip" data-placement="bottom"></i>
        <small>{{testCase.testIssues.length}}</small>
        <i class="fa fa-lg fa-barcode identifier"></i>
        <small>{{testCase.id}}</small>
        <span class="spacer"></span>
        <span class="clickable-text" (click)="openTestCaseViewDialog(testModule, testCase)">{{testCase.description}}</span>
      </div>
    </div>
  </div>
  <div>
    <div *ngIf="isTestRun" class="dropdown">
      <span class="btn dropdown-toggle pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        [ngClass]="{
                    'btn-success': testCase.testResult?.status == testResultStatus.Pass,
                    'btn-danger': testCase.testResult?.status == testResultStatus.Fail,
                    'btn-info': testCase.testResult?.status == testResultStatus.NA || testCase.testResult?.status == testResultStatus.CNT,
                    'btn-secondary': testCase.testResult?.status == testResultStatus.Pending || !testCase.testResult
                  }">
        {{testCase.testResult?.status | status}}
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Pass)">PASS</span>
        <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Fail)">FAIL</span>
        <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.CNT)">CNT</span>
        <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.NA)">NA</span>
        <span class="dropdown-item" (click)="changeTestCaseStatus(testCase, testResultStatus.Pending)">PENDING</span>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item" (click)="openTestCaseViewDialog(testModule, testCase)">View</span>
        <span class="dropdown-item" (click)="openLogIssueDialog(testCase)">Log Issue</span>
      </div>
    </div>

    <div *ngIf="!isTestRun && !isTestReport" class="dropdown">
      <span class="btn dropdown-toggle btn-secondary pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">More</span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item" (click)="openTestCaseEditDialog(testCase, testModule.testSuiteId)">Edit/Move</span>
        <span class="dropdown-item" (click)="duplicateTestCase(testCase)">Duplicate</span>
        <span class="dropdown-item" (click)="openTestCaseDeleteDialog(testCase)">Delete</span>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item" (click)="openLogIssueDialog(testCase)">Log Issue</span>
      </div>
    </div>

    <div *ngIf="isTestReport" class="dropdown">
      <span class="btn dropdown-toggle btn-secondary pull-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">More</span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item" (click)="openTestCaseViewDialog(testModule, testCase, 'issue')" *ngIf="testCase.testIssues && testCase.testIssues.length > 0">View Issues</span>
        <span class="dropdown-item" (click)="openLogIssueDialog(testCase)">Log Issue</span>
      </div>
    </div>
  </div>
</div>
