/* You can add global styles to this file, and also import other style files */

@import "scss/myTheme";
@import "scss/modal";
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "~ngx-toastr/toastr-bs4-alert";
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
$dark: #333;
$light: #bbb;
$active: #28a745;
$danger: red;

* {
  font-family: 'Pontano Sans', sans-serif;
}

.toolbar > span {
  padding: 0 8px;
}

.spacer {
  padding: 0 8px;
}

.identifier {
  margin-left: 10px;
}

.ghost, .ghost > mat-icon {
  color: rgba(0,0,0,0) !important;
}

.icon-dark {
  color: $dark;
}

.icon-light {
  color: $light;
}

.icon-success {
  color: $active;
}

.icon-danger {
  color: $danger;
}

.top-buffer {
  margin-top: 10px;
}

body {
  background-color: #efefef;
  height: 100%;
}

.options-dropdown,
  {
  color: #666;
}

.options-dropdown,
.dropdown-item,
.clickable-text,
.toolbar>mat-icon {
  cursor: pointer;
}

.clickable-text:hover {
  text-decoration: underline;
}

.show-details,
  {
  color: #666;
  cursor: pointer;
}

.test-run-item>span,
.test-run-item>i {
  padding: 0 5px;
}

.show-details:hover {
  color: #222;
}

.expansion-button.open::before {
  content: "keyboard_arrow_up";
}

.expansion-button.close::before {
  content: "keyboard_arrow_down";
}

.toolbar>mat-icon,
.edit-icon {
  color: #666;
  font-size: 16px !important;
}

.toolbar mat-icon:hover {
  color: #222;
}

.priority {
  margin-left: -5px;
}

.priority .priority-background {
  opacity: .3;
}

.priority .priority-low {
  color: green;
  overflow: hidden;
  width:0.4em;
  margin-left:0.5em;
  
}

.priority .priority-med {
  color: $blue;
  overflow: hidden;
  width:0.6em;
  margin-left:0.5em;
}

.priority .priority-high {
  color: orange;
  overflow:hidden; 
  width:0.8em;
  margin-left:0.5em;
}

.priority .priority-critical {
  color: $danger;
  overflow: hidden;
  width:1em;
  margin-left:0.5em;
}

.fa-android {
  margin-right: 4px;
}

.mat-dialog-container {
  max-width: none !important;
  width: 600px !important;
  min-height: 300px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.list-group-item > span {
  min-height: 30px;
}

.dropdown-item .form-check-label {
  margin-left: 15px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.25)
}

.card.list-group {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.card-header {
  background-color: #386d9a;
  color: white;
}

.card-body {
  background-color: #e8e8e8;
}

.header-button {
  color: #e8e8e8;
}

.nav-item a.nav-link {
  color: white;
}

.sortable {
  cursor: move;
}