/* You can add global styles to this file, and also import other style files */
@import "scss/myTheme";
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.top-buffer {
    margin-top: 10px;
}

body {
    background-color: #efefef;
    height: 100%;
}

.options-dropdown,  {
    color: #666;
}

.options-dropdown, .dropdown-item, .clickable-text, .toolbar > mat-icon {
    cursor: pointer;
}

.expansion-button.open::before {
    content: "keyboard_arrow_up";
}

.expansion-button.close::before {
    content: "keyboard_arrow_down";
}

.toolbar > mat-icon, .edit-icon {
    color: #666;
    font-size: 16px !important;
}

.toolbar mat-icon:hover {
    color: #222;
}

.priority {
    margin-bottom: 2px;
    height: 100%;
}

.priority.priority-low {
    color: green;
    overflow: hidden; width: 0.4em;
}

.priority.priority-med {
    color: $blue;
    overflow: hidden; width: 0.6em;
}

.priority.priority-high {
    color: orange;
    overflow: hidden; width: 0.8em;
}

.priority.priority-critical {
    color: red;
}
