<tt-loader class="page-loader" *ngIf="isLoading"></tt-loader>
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <strong>Test Runs</strong>
    <a (click)="openUpsertDialog()" class="header-button" style="cursor:pointer;">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <div class="card-body" *ngIf="!isLoading">
    <search-bar (callback)="searchTestRuns($event)"></search-bar>
    <pagination [pageData]="pagination" (callback)="getTestRuns($event)"></pagination>
    <br>
    <tt-no-content *ngIf="testRuns?.length <= 0" [hidden]="isLoading" [type]="'run'"></tt-no-content>
    <ul class="list-group list-group-flush" *ngFor="let testRun of testRuns">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div (mouseover)="hoverIndex === testRuns.indexOf(testRun)" *ngIf="!testRun.isEditing">
          <div class="clickable-text" href [routerLink]="['/test-runs', testRun.id]">{{testRun.name}}
          </div>
          <span>
            <small>
              <strong>Created On: </strong>{{testRun.createdAt | date}}</small>
          </span>
          <span class="spacer"></span>
          <span>
            <small>
              <strong>Last Updated: </strong>{{testRun.updatedAt | date}}</small>
          </span>
        </div>
        <div class="dropdown">
          <span class="options-dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>more_vert</mat-icon>
          </span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item" href [routerLink]="['/test-reports', testRun.id]">View Report</span>
            <span class="dropdown-item" (click)="openUpsertDialog(testRun)">Edit</span>
            <span class="dropdown-item" (click)="openDeleteDialog(testRun)">Delete</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
